@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700&display=swap');

:root {
    --base: #182a3a;
    --highlight_1: #7ed957;
    --highlight_2: #f3d653;
    --light_el: #f2fcff;
    --dark_el: #000000;
}

* {
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: var(--base);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.header-container{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .header-container a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
 }

 .header-container a:hover{
    color: var(--highlight_1);
 }

 .header-container img{
    width: 30px;
    cursor: pointer;
 }

 .header-container input{
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--highlight_2);
    color: var(--base);
    border: 0;
    cursor: pointer;
 }

 .header-container input:hover{
    background-color: var(--highlight_1);
}

.logo-container img {
    width: 250px;
    cursor: pointer;
}

.topnav {
    background-color: var(--highlight_1);
    overflow:hidden;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding: 15px;
  }
  
    .topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
  }
  
  .topnav a:hover {
    color: var(--base);
  }
  
  .topnav a.active {
    background-color: var(--highlight_2);
    color:var(--base);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
}


.cursos {
    width: 25%;
    height: 250px;
    border: 1px solid black;
    background-color: #f1f1f1;
    margin: 25px;
}

/*Barra lateral*/
.sidenav {
    height: 600px;
    width: 200px;
    background-color: var(--light_el);
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--base);
    display: block;
}
  
.sidenav a:hover {
    color: var(--highlight_1);
}
  
.main {
    margin-left: 300px; /* Same as the width of the sidenav */
}

footer{
    color: #FFFFFF;
    bottom: 0;
    position: fixed;
    height: 40px;
    width: 100%;
    text-align: center;
}
  